.channels-tab-container {
  display: flex;
  flex-direction: column;
  height: 94dvh;
  width: 100%;
  border-radius: 16px;

  .tabs-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .channels-tab {
    .tab {
      padding: 0.4rem 0.8rem;
      margin: 0.4rem;
      border-bottom-width: 1px;
      border-bottom-color: grey;
      // border-right: 0.5px dotted grey;
    }
  }
  .content {
    flex: 1;
    padding: 0.4rem 0;
  }
}
